
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: "LemonMilk";
    src: url(../fonts/LemonMilkbold.otf);
}

html {
    font-size: 10px;
}

body.theme-default {
    padding-top: 60px;
    .delete-btn {
        position: relative;
        right: 0;
        float: right;
    }
    .subject {
        box-sizing: border-box;
        border: 1px solid gray;
        box-shadow: 5px 5px 5px #eee;
        height: 200px;
    }
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10000;
}

/* diana homepage */
body.theme-diana {
    background: #c0c0c0 url(../images/abstract-background-black-and-white-935871.jpg) no-repeat center center fixed;

    h2.title {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.1rem;
        color: #333333;
        &:after {
            content: " ";
            display: block;
            height: 1px;
            width: 100px;
            opacity: .3;
            margin: 15px auto 0;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
    }

    .introduction {
        height: 300px;
        background:#808080 url(../images/leatherbg.jpg) repeat left top scroll;
        .name {
            color: #D1CFCE;
            font-size: 7rem;
            margin-top: 10rem;
            text-transform: uppercase;
            font-family: "LemonMilk";
        }
        .role {
            font-size: 3rem;
            color: #ABABAB;
            text-transform: uppercase;
        }
    }

    .menu {
        height: 40px;
        background: #dadedf url(../images/blackwood.jpg) repeat center bottom scroll;
        box-shadow: 0 20px 27px rgba(0, 0, 0, 0.38);
        ul {
            display: inline-block;
            list-style: none;
            overflow: hidden;
            padding: 0;
            li {
                height: 40px;
                text-align: center;
                float: left;
                padding: 0 5px;
                a {
                    display: block;
                    line-height: 40px;
                    color: #ffffff;
                    padding: 0 5px;
                }
                a:hover {
                    background: #fff;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }

    .about {
        background: #333333 url(../images/patt.jpg) repeat left top scroll;
        padding: 4.5rem 0;
        ul {
            display: inline-block;
            font-size: 1.8rem;
            list-style-type: none;
            padding: 0 2rem;
            overflow: hidden;
            li {
                position: relative;
            }
            li:before {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                margin: 10px 10px 0;
                border-radius: 50%;
                position: absolute;
                left: -30px;
                background: #515050;
                box-shadow: inset 2px 2px 4px -1px #b0aeae, 1px 3px 9px -2px black;
            }
        }
    }

    .projects {
        padding: 4.5rem 0;
        background-color: rgba(2, 2, 2, 0.9);
        h2 {
            color: #DBDEDF;
        }
        ul {
            display: inline-block;
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            li {
                float: left;
                font-size: 1.5rem;
                color: #ffffff;
                margin: 5px 20px;
                position: relative;
                a {
                    .image img {
                        width: 210px;
                        height: 210px;
                    }
                    .detail {
                        position: absolute;
                        display: none;
                        top: 0;
                        left: 0;
                        width: 210px;
                        height: 210px;
                        z-index: 10;
                        hyphens: auto;
                    }
                    &:hover .detail {
                        display: inline-block;
                        background: rgba(0, 0, 0, 0.8);
                        color: #ffffff;
                        margin: auto 0;
                        padding-top: 35px;
                    }
                }
            }
        }
        p a {
            display: inline-block;
            text-decoration: none;
            color: #ccc;
            margin-top: 50px;
            font-size: 1.2em;
            &:hover {
                color: #999;
            }
        }
    }

    .contact {
        position: relative;
        padding: 4.5rem 0;
        background: #333 url(../images/quartzlow.jpg) no-repeat center bottom scroll;
        background-size: 100%;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(229,227,227,0.73);
        }
        form {
            background: rgba(32, 32, 33, 0.3);
            padding: 20px;
            .info,
            .content {
                margin-bottom: 10px;
            }
            input, textarea {
                border: 1px solid #dadedf;
                background: #dadedf;
                width: 100%;
                line-height: 1;
                padding: 9px;
                margin-bottom: 5px;
            }
            button {
                border: 1px solid #fff;
                background: #000;
                color: #fff;
            }
        }
    }

    .footer {
        height: 100px;
        line-height: 100px;
        background: #dadedf url(../images/blackwood.jpg) repeat center bottom scroll;
    }
}





